@page
@model DotnetCoreSimpleAuth.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Secure Page</h2>

<p>This is our super secure page. Actually anything in our Admin folder is now secure!</p>

